.login_box {
    box-shadow: 0px 0px 5px 1px lightgray;
    border-radius: 25px 25px;
    width: 25%;
    background-color: #fff;
}

.options_box {
    box-shadow: 0px 0px 5px 1px lightgray;
    border-radius: 25px 25px;
    width: 90%;
    background-color: #fff;
}

.title_text {
    font-weight: normal;
    color: darkslategrey;
    text-align: center;
}

.href_div {
    padding-top: 10px;
}

.href_text {
    color: cadetblue;
}

.error {
    color: red;
}